
.chapter ul li label{
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
}
.chapter ul li label div{
    width: 100%;
}
.chapter ul li label > input:checked+div{
    cursor: pointer;
    font-weight: bolder ;
    color: #82C348 !important;
}
input[type="radio"] {
    /* Ẩn radio button mặc định */
    display: block;
  }
 